.App {
  text-align: center;
}

.panel-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.panel-bottom {
  margin-top: 20px;
}

.code-mirror-wrapper .CodeMirror {
  height: 100%;
  text-align: left;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.code-container {
  margin-bottom: 10px;
}

.code-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001529;
  color: white;
  padding: 10px;
  border-top-right-radius: 8px; /* Rounded corners */
  border-top-left-radius: 8px;  /* Rounded corners */
}

.expcollbtn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
}
.CodeMirror-activeline-background {
  background: rgba(0, 0, 0, 0.1); /* Customize the background color and opacity */
}

.CodeMirror-activeline .CodeMirror-gutter-elt {
  background: rgba(0, 0, 0, 0.1); /* Customize the gutter background color and opacity */
}
